[project]
authors = ["Eric Ma <ericmajinglong@gmail.com>"]
channels = ["conda-forge"]
description = "Add a short description here"
name = "ollama-modal"
platforms = ["osx-arm64"]
version = "0.1.0"

[tasks]
deploy = "modal deploy endpoint.py"

[dependencies]
python = ">=3.12.0,<3.13"
fastapi = ">=0.115.5,<0.116"
loguru = ">=0.7.2,<0.8"

[pypi-dependencies]
modal = ">=0.67.18"
